
div.radio {
    margin-top: 10px;
}


input[type="text"] {
    width: 147px;
}

p {
    margin-bottom: 5px;
    margin-top: 10px;
    
}

body {
    margin-left: 25px;
}

select {
    height: 23px;
    
    
}